<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Compte de travail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="col-md-6 align-content-center container">
        <div class="panel panel-default">
          <div class="panel-heading"> <h2 style="text-align: center"> Ajout Compte de travail</h2> </div>
           <div class="panel-body">
           <form class="Form" >
            <div class="row">
            <div class="form-group col-lg-8">
               <ion-input [(ngModel)]="compteData.username"  type="text" name="username" placeholder="Username Utilisateur" class="form-control"></ion-input>
            </div>
            <div class="form-group col-lg-8">
 
                <ion-input [(ngModel)]="compteData.numero"  type="number" name="numero" placeholder="Numero Compte" class="form-control"></ion-input>
             </div>
            </div>
              <ion-button expand="block" (click)="comptetravail()" type="submit" class="btn btn-success">Ajouter</ion-button>
           </form>
          </div> 
        </div>   
        </div>
</ion-content>
