<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>depot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="col-md-9 align-content-center container">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align:center"> <h1> Depot</h1></div>
           <div class="panel-body">
           <form #imageForm=ngForm class="form" >
      
                <div class="row">
                      <div class="form-group col-lg-6 ">
                          <ion-input [(ngModel)]="depotData.numero" type="number" name="numero" class="form-control" placeholder="Numero compte"></ion-input>
                      </div>
                      <div class="form-group  col-lg-6 ">
                          <ion-input [(ngModel)]="depotData.montant" type="numero" name="montant" class="form-control" placeholder="Montant"></ion-input>
                      </div>
                </div>
              <ion-button expand="block" (click)="depot()" type="submit" class="btn btn-success">Déposer</ion-button>
           </form>
          </div> 
        </div>   
        </div>
</ion-content>
