<ion-header>
  <ion-toolbar color="secondary" text-align="center">
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <form >
    <ion-item > 
       <ion-input [(ngModel)]="loginUserData.username" placeholder="Username" type="text" name="username"  class="form-control"></ion-input>
    </ion-item> 
    <ion-item>         
     <ion-input [(ngModel)]="loginUserData.password" placeholder="Password" type="password" name="password" class="form-control"></ion-input>
     </ion-item>   
           <ion-button expand="block" (click)="login(loginUserData)" type="submit" class="btn btn-success">Login</ion-button>
        </form>

</ion-content>
